<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,33},{34,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{61,149},{42,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-7}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{213,1},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{36,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,69},{36,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,2}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,189},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{109,201},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{111,157},{58,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,2}</string>
                <key>spriteSize</key>
                <string>{30,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{59,1},{30,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{44,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{55,193},{44,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{167,207},{56,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{58,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{171,163},{58,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{34,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{55,33},{34,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,147},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,107},{38,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{61,109},{38,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,109},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{159,109},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4run13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,109},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{199,123},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{49,69},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{101,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{49,69},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{117,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{153,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{165,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{153,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{205,85},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{157,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4run44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{205,49},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,109},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{38,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{159,109},{38,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4stand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,109},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{199,123},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{49,69},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{101,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{49,69},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{117,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{153,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{165,1},{32,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{153,71},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{36,50}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{205,85},{36,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{157,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{109,35},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4stand44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{34,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{205,49},{34,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jinzhanxiaobing.png</string>
            <key>size</key>
            <string>{256,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9064ba5582b1952a82606fe12700fbeb:ee1acca688ceed8fce30924279450e64:a4eb3ef79bd93c01fae808fd2a0a752e$</string>
            <key>textureFileName</key>
            <string>jinzhanxiaobing.png</string>
        </dict>
    </dict>
</plist>
