<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{2821,803},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{3127,803},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{3432,803},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{1,1066},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{306,1067},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{612,1068},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{918,1068},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{1223,1068},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{1528,1079},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{1833,1079},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{2138,1079},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{2444,1079},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{2750,1082},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,277}</string>
                <key>spriteSourceSize</key>
                <string>{304,277}</string>
                <key>textureRect</key>
                <string>{{3056,1082},{304,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{3362,1082},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,277}</string>
                <key>spriteSourceSize</key>
                <string>{303,277}</string>
                <key>textureRect</key>
                <string>{{3667,1082},{303,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{304,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{606,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{909,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{908,264},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{1211,264},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{1513,264},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{1816,264},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{1211,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{1514,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{1816,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{2119,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{2118,264},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{2421,264},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{2723,264},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{3026,264},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{1816,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{2129,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{2442,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,273}</string>
                <key>spriteSourceSize</key>
                <string>{312,273}</string>
                <key>textureRect</key>
                <string>{{2755,528},{312,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{315,791},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{628,792},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{941,792},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,274}</string>
                <key>spriteSourceSize</key>
                <string>{312,274}</string>
                <key>textureRect</key>
                <string>{{1254,792},{312,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{3069,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{3382,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,273}</string>
                <key>spriteSourceSize</key>
                <string>{312,273}</string>
                <key>textureRect</key>
                <string>{{1,791},{312,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,273}</string>
                <key>spriteSourceSize</key>
                <string>{311,273}</string>
                <key>textureRect</key>
                <string>{{3695,528},{311,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{1568,803},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,274}</string>
                <key>spriteSourceSize</key>
                <string>{312,274}</string>
                <key>textureRect</key>
                <string>{{1881,803},{312,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{2195,803},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,274}</string>
                <key>spriteSourceSize</key>
                <string>{311,274}</string>
                <key>textureRect</key>
                <string>{{2508,803},{311,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{2421,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{2724,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{3026,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{3329,1},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{3328,264},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{3631,264},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{1,527},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{304,527},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{3631,1},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{1,264},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,261}</string>
                <key>spriteSourceSize</key>
                <string>{301,261}</string>
                <key>textureRect</key>
                <string>{{303,264},{301,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,261}</string>
                <key>spriteSourceSize</key>
                <string>{300,261}</string>
                <key>textureRect</key>
                <string>{{606,264},{300,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{908,528},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{606,527},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,262}</string>
                <key>spriteSourceSize</key>
                <string>{301,262}</string>
                <key>textureRect</key>
                <string>{{1211,528},{301,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stand44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,262}</string>
                <key>spriteSourceSize</key>
                <string>{300,262}</string>
                <key>textureRect</key>
                <string>{{1514,528},{300,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Demon.png</string>
            <key>size</key>
            <string>{4007,1360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ac62501255ce4114b7a70961b79b474:026171b884723865c7551c3917a7de20:9fa87e6b588c5e668c8944035bf290a3$</string>
            <key>textureFileName</key>
            <string>Demon.png</string>
        </dict>
    </dict>
</plist>
